flask         ==  3.0.3
opencv-python == 4.10.0.84  
numpy         == 1.26.4  
keras         == 2.15.0  
tensorflow    == 2.15.0 
scikit-learn  == 1.5.1 
scipy         == 1.14.0 
pillow        == 10.3.0     